.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .video__owner {
    margin-bottom: 10px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments-write {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 1200px;
  max-height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  i {
    margin-right: 10px;
  }
  li {
    display: flex;
    align-items: center;
    span:last-child {
      position: relative;
      float: right;
    }
  }
}

.video-mixin__thumb {
  background-size: cover;
  background-position: center;
}

.video__comment-form {
  display: flex;
  align-items: center;
  textarea {
    width: 1100px;
    height: 50px;
    border: none;
    resize: none;
    margin-right: 10px;
  }
  button {
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }
}

.together {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 800;
  }
  a:hover {
    color: #fff;
    font-size: 16px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $neon,
      0 0 82px $neon, 0 0 92px $neon, 0 0 102px $neon, 0 0 151px $neon;
  }
}
