header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: #fff;
    font-size: 38px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $neon,
      0 0 82px $neon, 0 0 92px $neon, 0 0 102px $neon, 0 0 151px $neon;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $bg-base;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
