extends base.pug
include mixins/video

block content

    div.hotandnew
        a(href="/newpage")  NEW
        a(href="/")  HOME
    hr
    h4 인기 동영상
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message 영상을 찾지 못했습니다.