extends base.pug
include mixins/video

block content
    div.hotandnew
        a(href="/hotpage")  HOT
        a(href="/")  HOME
    hr
    h4 새로운 동영상
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message 영상을 찾지 못했습니다.